// Font
$root-topic-font-family: "Big Shoulders Display";
$root-topic-font-weight: 700;
$root-article-font-family: "Lexend Deca";
$root-article-font-weight: 400;
$root-font-size: 15px;

// Color
$bg-head-btn: hsl(0, 0%, 95%);
$paragraph: hsla(0, 0%, 100%, 0.75);
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

@mixin set-size($w, $h) {
  width: $w;
  height: $h;
}

@mixin set-color-for-bg-and-btn($bg-color) {
  background: $bg-color;

  button {
    color: $bg-color;
  }

  button:active,
  button:hover {
    color: $bg-head-btn;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $root-font-size;
}

h2 {
  color: $bg-head-btn;
  font-family: $root-topic-font-family;
  font-weight: $root-topic-font-weight;
  font-size: 2.65rem;
  text-transform: uppercase;
}

p,
button {
  font-family: $root-article-font-family;
  font-weight: $root-article-font-weight;
}

p {
  color: $paragraph;
  line-height: 1.7rem;
}

button {
  @include set-size(146px, 48px);

  background: $bg-head-btn;
  border: none;
  border-radius: 50px;
  text-transform: capitalize;
}

button:active,
button:hover {
  background: none;
  border: 2px solid $bg-head-btn;
  cursor: pointer;
}

.orange-card {
  @include set-color-for-bg-and-btn($bright-orange);
}

.teal-card {
  @include set-color-for-bg-and-btn($dark-cyan);
}

.dark-green-card {
  @include set-color-for-bg-and-btn($very-dark-cyan);
}

body {
  @include set-size(100vw, auto);

  min-height: 100vh;
  background: $bg-head-btn;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  main.card-container {
    @include set-size(325px, 100%);

    margin: 88px 0;

    article.card {
      @include set-size(100%, 441px);

      padding: 48px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img.card-icon {
        @include set-size(fit-content, 40px);
      }

      h2 {
        margin-top: 10px;
      }
    }

    article.card:first-child {
      border-radius: 10px 10px 0 0;
    }

    article.card:last-child {
      border-radius: 0 0 10px 10px;
    }
  }
}

@media (min-width: 1440px) {
  h2 {
    font-size: 2.65rem;
  }

  p {
    line-height: 1.65rem;
  }

  body {
    main.card-container {
      @include set-size(920px, 500px);

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 20px 0 0 0;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      article.card {
        @include set-size(100%, 100%);

        button.card-btn {
          margin-top: 55px;
        }
      }

      article.card:first-child {
        border-radius: 10px 0 0 10px;
      }

      article.card:last-child {
        border-radius: 0 10px 10px 0;
      }
    }
  }
}
